*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #227093;
    display: grid;
    place-items: center;
}

.main_div{
    width: 40vw;
    height: 70vh;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: grid;
    place-items: center;
    /* display: grid;
    justify-content: center;
    align-items: center; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    /* position: relative; */
    /* display: table; */
}

.main_div h1{
    /* position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%); */
    /* display: table-cell;
    vertical-align: middle;
    text-align: center; */
}
