/* https://flatuicolors.com/ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_div{
    width: 100vw;
    height: 100vh;
    background: #192a56;
    display: grid;
    place-items: center;
}

a{
    text-decoration: none;
    transition: all 0.3s linear;
}
/* 
a:link, a:visited{
    color: #fff;
} */

a:link{
    color: #fff;
}

a:hover{
    color: #192a56;
    background: #fff;
}

a:active{
    color: yellow;
    background: black;
}

a:visited{
    color: red;
    background: yellow;
}